<!DOCTYPE html>
<html>
<head>
    <title>Audio and Canvas Demo</title>
</head>
<body>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
        }
        audio {
            width: 100%;
            display: hidden;
        }
        canvas {
            display: block;
            margin: 0 auto;
        }
    </style>
    <div>
        <p>hello</p>
    </div>
    <canvas id="myCanvas" style="border:1px solid #000;"></canvas>
    <script>
        const audio = new Audio("<%= audioPath %>")
        const canvas = document.getElementById("myCanvas")

        canvas.addEventListener("click", () => {
            console.log("Canvas clicked")
            audio.play()
        })
    </script>

</body>
</html>